fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
python-dotenv
passlib[bcrypt]
bcrypt==4.1.2
pyjwt
web3
celery
redis
httpx
pytest
pytest-cov
python-multipart  # for file uploads if needed
pydantic>=2.0
pydantic-settings>=2.0
pydantic[email]
python-jose[cryptography]
python-slugify
alembic